resource/retrieval_docs/kowiki_dataset/*
models/*
wandb/*
resource/retrieval_docs/chroma_db/*
resource/QA/data/sample_*.json
trainer_output/*
log_*
resource/KIIP/*
__pycache__/
*.pyc
nanumfont.zip
compare_*
compare_multiple_choice.py