transformers==4.53.1
datasets==4.0.0
numpy
tqdm
accelerate
faiss-cpu
langchain
langchain-community
langchain-huggingface
langchain-core
sentence-transformers
bitsandbytes
chromadb
Pyrebase4
trl==0.19.1
peft
tf-keras
wordcloud
konlpy
matplotlib==3.8.2

torch==2.7.0
torchvision==0.22.0
xformers==0.0.30
