# pip install -r requirements.txt --use-pep517
transformers==4.53.1
torch==2.7.0
datasets
numpy
tqdm
accelerate
faiss-cpu
langchain
langgraph
langchain-community
langchain-huggingface
langchain-core
sentence-transformers
bitsandbytes
chromadb
Pyrebase4
xformers --index-url https://download.pytorch.org/whl/cu118
vllm==0.9.1
trl==0.19.1
evaluate
rouge_score
bert_score 
bleurt
sacrebleu